In [1]:
import pandas as pd
import warnings
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('priv_data_clean.csv')
df2 = pd.read_csv('priv_data_clean_edu.csv')

In [6]:
df.shape

(64779, 24)

In [7]:
df2.shape

(63824, 24)

In [8]:
63824-64779

-955

In [14]:
df.loc[df['Make'] == 'Vans']

Empty DataFrame
Columns: [index, Location, Country, Aircraft.damage, Make, Model, Number.of.Engines, Engine.Type, Purpose.of.flight, Total.Fatal.Injuries, Total.Serious.Injuries, Total.Minor.Injuries, Total.Uninjured, Weather.Condition, Total.Passengers, Total.Injured, Percent.Injured, Percent.Uninjured, Percent.Died, Airplane.Type, Event.Day, Event.Month, Event.Month.Name, Event.Year]
Index: []

[0 rows x 24 columns]

In [15]:
df2.loc[df['Make'] == 'Vans']

Empty DataFrame
Columns: [index, Location, Country, Aircraft.damage, Make, Model, Number.of.Engines, Engine.Type, Purpose.of.flight, Total.Fatal.Injuries, Total.Serious.Injuries, Total.Minor.Injuries, Total.Uninjured, Weather.Condition, Event.Day, Event.Month, Event.Month.Name, Event.Year, Total.Passengers, Total.Injured, Percent.Injured, Percent.Uninjured, Percent.Died, Airplane.Type]
Index: []

[0 rows x 24 columns]

In [6]:
concatenated = pd.concat([df, df2], keys=['df', 'df2'])
diff_rows = concatenated[concatenated.duplicated(keep=False)]

In [7]:
diff_rows

        index Location        Country Aircraft.damage              Make  \
df  0       0       ID  United States       Destroyed           Stinson
    1       1       CA  United States       Destroyed             Piper
    2       2       VA  United States       Destroyed            Cessna
    3       3       CA  United States       Destroyed          Rockwell
    4       4       MA  United States     Substantial  Mcdonnel Douglas
...       ...      ...            ...             ...               ...
df2 50     50       NY  United States     Substantial            Cessna
    51     51       MO  United States     Substantial             Piper
    52     52       IL  United States     Substantial            Cessna
    53     53       OH  United States     Substantial            Cessna
    54     54       SC  United States     Substantial            Cessna

            Model  Number.of.Engines    Engine.Type Purpose.of.flight  \
df  0       108-3                1.0  Reciprocating          Personal
    1    Pa24-180                1.0  Reciprocating          Personal
    2        172M                1.0  Reciprocating          Personal
    3         112                1.0  Reciprocating          Personal
    4         Dc9                2.0      Turbo Fan           Unknown
...           ...                ...            ...               ...
df2 50        152                1.0  Reciprocating     Instructional
    51  Pa-24-250                1.0  Reciprocating     Instructional
    52        152                1.0  Reciprocating     Instructional
    53       172N                1.0  Reciprocating          Personal
    54        152                1.0  Reciprocating     Instructional

        Total.Fatal.Injuries  ...  Total.Passengers  Total.Injured  \
df  0                    2.0  ...               2.0            2.0
    1                    4.0  ...               4.0            4.0
    2                    3.0  ...               3.0            3.0
    3                    2.0  ...               2.0            2.0
    4                    0.0  ...              45.0            1.0
...                      ...  ...               ...            ...
df2 50                   0.0  ...               1.0            0.0
    51                   0.0  ...               2.0            0.0
    52                   0.0  ...               1.0            0.0
    53                   0.0  ...               2.0            0.0
    54                   0.0  ...               1.0            0.0

        Percent.Injured Percent.Uninjured  Percent.Died  Airplane.Type  \
df  0        100.000000          0.000000         100.0        Private
    1        100.000000          0.000000         100.0        Private
    2        100.000000          0.000000         100.0        Private
    3        100.000000          0.000000         100.0        Private
    4          2.222222         97.777778           0.0        Private
...                 ...               ...           ...            ...
df2 50         0.000000        100.000000           0.0        Private
    51         0.000000        100.000000           0.0        Private
    52         0.000000        100.000000           0.0        Private
    53         0.000000        100.000000           0.0        Private
    54         0.000000        100.000000           0.0        Private

        Event.Day  Event.Month  Event.Month.Name Event.Year
df  0          24           10           October       1948
    1          19            7              July       1962
    2          30            8            August       1974
    3          19            6              June       1977
    4          17            9         September       1979
...           ...          ...               ...        ...
df2 50          8            1           January       1982
    51          8            1           January       1982
    52          8            1           January       1982
    53          8            1           January       1982
    54          8            1           January       1982

[110 rows x 24 columns]