In [25]:
import pandas as pd

In [29]:

df = pd.read_csv('aircraft_info4 - Sheet1.csv')
df

,Model,Make,Type,Capacity,Cap. Range,Purpose,Engine Cat.,Engine Num.,Utility,Surveillance,...,Airshows/Aerobatics,Recreational Flying,Crop Dusting,Cargo/Freight,Flight Training,Commercial Airline Service,Private Charter,Business/Corporate Flying,Medical Evaluation,Private Use
0,369e,Boeing,Helicopter,five seat,<10,light multi-purpose helicopter,one engine,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,m75,Boeing,byplane,two seat,<10,vintage military biplane trainer,one engine,1,0,0,...,1,1,1,0,0,0,0,0,0,0
2,md11,Boeing,airplane,285 to 410 passengers,>200,wide-body commercial jet airliner,three engines,3,0,0,...,0,0,0,1,0,1,1,0,0,0
3,560,Cessna,airplane,11 seat,>10,small business jet,two engines,2,0,0,...,0,0,0,0,0,0,1,1,1,0
4,195,Cessna,airplane,five seat,<10,light general aviation aircraft,one engine,1,0,0,...,0,1,0,0,0,0,0,0,0,1
5,185,Cessna,airplane,six seat,<10,general aviation aircraft,one engine,1,1,0,...,0,0,1,0,0,0,0,0,0,0
6,pa20,Piper,airplane,four seat,<10,general aviation aircraft,one engine,1,0,0,...,0,1,0,0,0,0,0,0,0,1
7,pa44,Piper,airplane,four seat,<10,flight training aircraft,two engines,2,0,0,...,0,0,0,0,1,0,0,0,0,1
8,180,Piper,airplane,two seat,<10,general aviation aircraft,one engine,1,1,0,...,0,0,1,0,1,0,0,0,0,0

In [30]:
df2 = df.drop(labels=['Model','Make','Type','Capacity','Purpose', 'Engine Cat.','Engine Num.'], axis=1)

In [31]:
df2

,Cap. Range,Utility,Surveillance,Touring,Airshows/Aerobatics,Recreational Flying,Crop Dusting,Cargo/Freight,Flight Training,Commercial Airline Service,Private Charter,Business/Corporate Flying,Medical Evaluation,Private Use
0,<10,1,1,1,0,0,0,0,0,0,0,0,0,0
1,<10,0,0,0,1,1,1,0,0,0,0,0,0,0
2,>200,0,0,0,0,0,0,1,0,1,1,0,0,0
3,>10,0,0,0,0,0,0,0,0,0,1,1,1,0
4,<10,0,0,1,0,1,0,0,0,0,0,0,0,1
5,<10,1,0,1,0,0,1,0,0,0,0,0,0,0
6,<10,0,0,1,0,1,0,0,0,0,0,0,0,1
7,<10,0,0,1,0,0,0,0,1,0,0,0,0,1
8,<10,1,0,0,0,0,1,0,1,0,0,0,0,0

In [36]:
df2['Cap. Range'].value_counts()

<10     7
>10     1
>200    1
Name: Cap. Range, dtype: int64